<section class="about-index">

  <header class="page-header">
    <h1>About</h1>
  </header>

  <h4>Explore your Wild Side with Jungle</h4>
  <p>Jungle is all about pushing boundaries and reimagining products you know and love. Always on the cutting edge of fashion, technology, and home decor, Jungle is your one-stop-shop for all of your retail needs.</p>

  <br>
  <br>
  <br>
  
  <div style="text-align: center">
    <p>3455 Jungle Avenue</p>
    <p>Toronto, ON</p>
    <p>M4L 3N9</p>
    <p>647-555-5555</p>
  </div>
</section>